# Day-2 of PySpark

In [3]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('Practice_Day_2').getOrCreate()

In [13]:
SalaryFile='C:\\Users\\sunny\\OneDrive\\Desktop\\Pyspark\\Files\\CSV\\Salary.csv'
df_pyspark=spark.read.csv(SalaryFile,header=True,inferSchema=True)

In [14]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Mélina|  30|         8| 25009|
|    Léane|  26|         5| 11377|
|   Garçon|  29|         5| 21428|
|      Ráo|  26|         5| 20726|
|   Maëlys|  28|         7| 18359|
|       Wá|  30|         8| 17206|
|  Rébecca|  29|         7| 25289|
|       Pò|  26|         8| 21221|
|  Pélagie|  26|         8| 27729|
|     Cloé|  25|         8| 19411|
|Angélique|  27|         8| 19282|
|    Léana|  28|         5| 22181|
|  Océanne|null|      null| 25784|
|     null|  27|         8| 28366|
|     null|  30|      null|  null|
+---------+----+----------+------+

In [21]:
## below command will drop any rows which have null values in any column
## last three values were dropped
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Mélina| 30|         8| 25009|
|    Léane| 26|         5| 11377|
|   Garçon| 29|         5| 21428|
|      Ráo| 26|         5| 20726|
|   Maëlys| 28|         7| 18359|
|       Wá| 30|         8| 17206|
|  Rébecca| 29|         7| 25289|
|       Pò| 26|         8| 21221|
|  Pélagie| 26|         8| 27729|
|     Cloé| 25|         8| 19411|
|Angélique| 27|         8| 19282|
|    Léana| 28|         5| 22181|
+---------+---+----------+------+

In [26]:
## if how='any' then it will drop any rows which have any number of null columns
df_pyspark.na.drop(how='any').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Mélina|  30|         8| 25009|
|    Léane|  26|         5| 11377|
|   Garçon|  29|         5| 21428|
|      Ráo|  26|         5| 20726|
|   Maëlys|  28|         7| 18359|
|       Wá|  30|         8| 17206|
|  Rébecca|  29|         7| 25289|
|       Pò|  26|         8| 21221|
|  Pélagie|  26|         8| 27729|
|     Cloé|  25|         8| 19411|
|Angélique|  27|         8| 19282|
|    Léana|  28|         5| 22181|
|  Océanne|null|      null| 25784|
|     null|  27|         8| 28366|
+---------+----+----------+------+

In [27]:
## if how='all' then it will drop any rows which have all columns NULL
## in this case none is dropped because we have atleast 1 Non-Null Value
df_pyspark.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Mélina|  30|         8| 25009|
|    Léane|  26|         5| 11377|
|   Garçon|  29|         5| 21428|
|      Ráo|  26|         5| 20726|
|   Maëlys|  28|         7| 18359|
|       Wá|  30|         8| 17206|
|  Rébecca|  29|         7| 25289|
|       Pò|  26|         8| 21221|
|  Pélagie|  26|         8| 27729|
|     Cloé|  25|         8| 19411|
|Angélique|  27|         8| 19282|
|    Léana|  28|         5| 22181|
|  Océanne|null|      null| 25784|
|     null|  27|         8| 28366|
|     null|  30|      null|  null|
+---------+----+----------+------+

In [32]:
##thresh checks if a row has atleas 2 t non null values if not that row will be deleted
## in the below example it is checking 2 non null values because value of thresh is 2  and only last is deleted
df_pyspark.na.drop(how='any' , thresh=2).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Mélina|  30|         8| 25009|
|    Léane|  26|         5| 11377|
|   Garçon|  29|         5| 21428|
|      Ráo|  26|         5| 20726|
|   Maëlys|  28|         7| 18359|
|       Wá|  30|         8| 17206|
|  Rébecca|  29|         7| 25289|
|       Pò|  26|         8| 21221|
|  Pélagie|  26|         8| 27729|
|     Cloé|  25|         8| 19411|
|Angélique|  27|         8| 19282|
|    Léana|  28|         5| 22181|
|  Océanne|null|      null| 25784|
|     null|  27|         8| 28366|
+---------+----+----------+------+

In [39]:
## below it is checking at least 1 non null which satisfies all the rows none is deleted/dropped
## works with both any and all
## df_pyspark.na.drop(how='all' , thresh=2).show()
df_pyspark.na.drop(how='any' , thresh=2).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Mélina|  30|         8| 25009|
|    Léane|  26|         5| 11377|
|   Garçon|  29|         5| 21428|
|      Ráo|  26|         5| 20726|
|   Maëlys|  28|         7| 18359|
|       Wá|  30|         8| 17206|
|  Rébecca|  29|         7| 25289|
|       Pò|  26|         8| 21221|
|  Pélagie|  26|         8| 27729|
|     Cloé|  25|         8| 19411|
|Angélique|  27|         8| 19282|
|    Léana|  28|         5| 22181|
|  Océanne|null|      null| 25784|
|     null|  27|         8| 28366|
+---------+----+----------+------+

In [42]:
## SUbset will specify the columns
df_pyspark.show()
df_pyspark.na.drop(how='any' , subset='Experience').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Mélina|  30|         8| 25009|
|    Léane|  26|         5| 11377|
|   Garçon|  29|         5| 21428|
|      Ráo|  26|         5| 20726|
|   Maëlys|  28|         7| 18359|
|       Wá|  30|         8| 17206|
|  Rébecca|  29|         7| 25289|
|       Pò|  26|         8| 21221|
|  Pélagie|  26|         8| 27729|
|     Cloé|  25|         8| 19411|
|Angélique|  27|         8| 19282|
|    Léana|  28|         5| 22181|
|  Océanne|null|      null| 25784|
|     null|  27|         8| 28366|
|     null|  30|      null|  null|
+---------+----+----------+------+

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Mélina| 30|         8| 25009|
|    Léane| 26|         5| 11377|
|   Garçon| 29|         5| 21428|
|      Ráo| 26|         5| 20726|
|   Maëlys| 28|         7| 18359|
|       Wá| 30|         8| 17206|
|  Rébecca| 29|         7| 25289|
|       Pò| 26|         8| 21221|
|  Pélagie| 26|         8| 27729|
|     Cloé| 25|         8| 19411|
|Angélique| 27|         8| 19282|
|    Léana| 28|         5| 22181|
|     null| 27|         8| 28366|
+---------+---+----------+------+

In [48]:
## thresh doesn't work with subset(Need to Confirm)

In [49]:
## Filling the values
df_pyspark.na.fill('Missing' ,['Name']).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Mélina|  30|         8| 25009|
|    Léane|  26|         5| 11377|
|   Garçon|  29|         5| 21428|
|      Ráo|  26|         5| 20726|
|   Maëlys|  28|         7| 18359|
|       Wá|  30|         8| 17206|
|  Rébecca|  29|         7| 25289|
|       Pò|  26|         8| 21221|
|  Pélagie|  26|         8| 27729|
|     Cloé|  25|         8| 19411|
|Angélique|  27|         8| 19282|
|    Léana|  28|         5| 22181|
|  Océanne|null|      null| 25784|
|  Missing|  27|         8| 28366|
|  Missing|  30|      null|  null|
+---------+----+----------+------+

In [50]:
from pyspark.ml.feature import imputer

ModuleNotFoundError: No module named 'numpy'