In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [26]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [27]:
filename = ("C:\\Users\\sunny\\OneDrive\\Desktop\\Pyspark\\Files\\CSV\\Employee.csv")
df_pyspark=spark.read.csv(filename)

In [28]:
df_pyspark.head(3)

[Row(_c0='Name', _c1='Age', _c2='Experience', _c3='Salary'),
 Row(_c0='Ewen', _c1='29', _c2='4', _c3='64192'),
 Row(_c0='Cathe', _c1='29', _c2='4', _c3='88167')]

In [29]:
spark.read.option('header','true').csv(filename).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|     Ewen| 29|         4| 64192|
|    Cathe| 29|         4| 88167|
|      Lou| 23|      null| 65800|
|   Brodie| 24|         2| 83647|
|     Lida| 25|         3| 39130|
|  Maurise| 27|         1| 92733|
|Hollyanne| 24|         1| 47835|
|    Elnar| 27|         2| 86607|
|   Marysa| 27|         4| 44967|
|  Cristal| 25|         1| 53451|
|    Ginny| 25|         1| 87980|
| Adrianne| 22|         3| 81480|
|  Thibaut| 26|      null| 88426|
|  Celinka| 23|         5| 43358|
| Phillida| 26|         3| 92880|
|    Joyce| 22|      null| 32733|
| Brandice| 23|         5| 93060|
| Angelica| 25|      null| 63622|
|     Alex| 29|      null| 69740|
|   Kettie| 29|         5| 66865|
+---------+---+----------+------+

In [30]:
##checking the top 3
df_pyspark.show(3)

+-----+---+----------+------+
|  _c0|_c1|       _c2|   _c3|
+-----+---+----------+------+
| Name|Age|Experience|Salary|
| Ewen| 29|         4| 64192|
|Cathe| 29|         4| 88167|
+-----+---+----------+------+
only showing top 3 rows

In [33]:
df_pyspark.head()

Row(_c0='Name', _c1='Age', _c2='Experience', _c3='Salary')

In [39]:
##working with github push
##df_Pyspark.show()
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|Age|Experience|Salary|
|     Ewen| 29|         4| 64192|
|    Cathe| 29|         4| 88167|
|      Lou| 23|      null| 65800|
|   Brodie| 24|         2| 83647|
|     Lida| 25|         3| 39130|
|  Maurise| 27|         1| 92733|
|Hollyanne| 24|         1| 47835|
|    Elnar| 27|         2| 86607|
|   Marysa| 27|         4| 44967|
|  Cristal| 25|         1| 53451|
|    Ginny| 25|         1| 87980|
| Adrianne| 22|         3| 81480|
|  Thibaut| 26|      null| 88426|
|  Celinka| 23|         5| 43358|
| Phillida| 26|         3| 92880|
|    Joyce| 22|      null| 32733|
| Brandice| 23|         5| 93060|
| Angelica| 25|      null| 63622|
|     Alex| 29|      null| 69740|
+---------+---+----------+------+
only showing top 20 rows

In [41]:
##last git push
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [ ]:
##Pull and push test